[title] {
    text-align: center;
    width: 500px;
}

p[title] {
    color: blueviolet;
}

[title="Hello"] {
   color:brown; /* does not work  */
   font-weight: 600;
}


[href^="https://"] {
    color:coral;
    text-decoration: none;
}

[href$="html"] {
    color:rgb(66, 191, 150);
}

[title*="hello"] {
   text-align: center;
   font-style: italic;
   color: rgb(146, 18, 86); /* does not work  */
}

[class|="top"] {
    text-align: center;
    color: darkseagreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}