.parent {
    width: 400px;
    border: 1px dashed blue;
  
}

.child {
    height: 300px;
    border: 1px solid orange;
    margin: 45px;
}

.grandfather {
    width: 400px;
    border: 1px dashed blue;
    margin-top: 30px;
}

.father {
    border: 1px dashed green;
    margin: 25px;
}
.sun {
    height: 200px;
    border: 1px solid red;
    margin: 25px;

}
.outside {
    width: 200px;
    height: 250px;
    border: 1px solid red;
    margin-top: 30px;
}
.inside {
    border: 1px solid green;
    height: 100px;
    margin: 50px 50px 70px;

}

.outside2 {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    margin-top: 30px;
}

.inside2 {
    border: 1px solid green;
    height: 100px;
    margin:  50px 25px;

}
.out {
    width: 200px;
    border: 1px solid red;
    margin-top: 30px;
}

.in {
    border: 1px solid green;
    height: 100px;
    margin:  20px 70px;

}

.block {
    width: 200px;
        border: 1px solid red;
        margin-top: 30px;
        text-align: justify;
        padding: 50px;

}

.block2 {
    width: 500px;
    border: 1px solid green;
    margin-top: 30px;
    text-align: justify;
    padding: 20px 20px;

}
.block3 {
    width: 300px;
    border: 1px solid red;
    margin-top: 30px;
    text-align: justify;
    padding: 10px 20px 30px 40px;

}

.block4 {
    width: 300px;
    border: 1px solid red;
    margin-top: 30px;
    text-align: justify;
    padding: 60px 30px;

}

.block5 {
    width: 300px;
    border: 1px solid red;
    margin-top: 30px;
    text-align: justify;
    padding: 10px 20px 40px;

}
        /* box-sizing:border-box allows us to keep initial size of element;
        if we don`t apply it - the padding and border extend the size of element respectively (25px + 10px) */
.box {
    width: 100px;
    height: 100px;
    background-color: grey ;
    margin-top: 20px;
    padding: 25px;
    border: 10px solid green;
    box-sizing:border-box;
}

h1 {
    width: 100px;
        height: 100px;
        background-color: grey;
        border: 1px solid black;
}
p {
    width: 100px;
    height: 100px;
    background-color: grey;
    border: 1px solid black;
    display: inline;
}
    .link {     display: block;
        width: 100px;
        height: 100px;
        background-color: grey;
        border: 1px solid black;
        
    }

    .elem {
            display: inline-block;
            width: 100px;
            height: 100px;
            border: 1px solid black;
    }

    .first-red {
        border: 1px solid red;
        /* width: 700px; */
        margin-top: 10px;
    }

    .first-green {
        border: 1px solid green;
        width: 100px;
        height: 100px;
        margin: 10px auto;
    }

    .second-green {
        border: 1px solid green;
        width: 200px;
        height: 100px;
        margin: 10px auto;
    }
    .third-green {
        border: 1px solid green;
        width: 300px;
        height: 100px;
        margin: 10px auto;

    }


        .parent2 {
            text-align: center;
            padding: 10px 0;
            margin-top: 10px;
            border: 1px solid red;
        }
   
         .parent3 {
            text-align: right;
            margin-top: 10px;
             padding: 10px 10px;
             border: 1px solid red;
         }

.parent4 {
    text-align: center;
    padding: 10px 0;
    border: 1px solid red;
    margin-top: 10px;
}

.child2 {
    display: inline-block;
    padding: 10px;
    border: 1px solid green;
    margin-left: 5px;
    margin-right: 5px;

}

.parent5 {
    text-align: right;
    padding: 10px 0;
    border: 1px solid red;
    margin-top: 10px;
    padding-right: 10px;
}

.child3 {
    display: inline-block;
    padding: 10px;
    border: 1px solid green;
    margin-right: 10px;

}

.parent6 {
    padding: 10px 0;
    border: 1px solid red;
    text-align: right;
    margin-top: 10px;
}

.child4 {
    display: inline-block;  
    text-align: center;                                                
    width: 100px;
    padding: 10px;
    border: 1px solid green;
    margin-right: 10px;
}

/* flex */

.parent-flex {
    display: flex;
    border: 1px solid red;
    width: 900px;
    height: 400px;
    height: 400px;
    margin: 10px auto;
}

.child-flex {
    border: 1px solid green;
    width: 120px;
    height: 60px;

}

.parent-flex2 {
    display: flex;
    border: 1px solid red;
    width: 900px; 
    margin: 10px auto;
}

.child-flex2 {
    border: 1px solid green;
    width: 120px;
    height: 100px;

}

.parent-flex3 {
    display: flex;
    border: 1px solid red;
    margin: 10px auto;
}

.child-flex3 {
    border: 1px solid green;
    width: 120px;
    height: 60px;   

}

.parent-inline-flex {
    display: inline-flex;
    border: 1px solid red;
    padding: 10px;

}

.child-inline-flex {
    width: 50px;
    height: 50px;
    border: 1px solid green;
    margin: 5px;
}

.parent-flex4 {
    display: flex;
    border: 1px solid red;
    margin: 10px auto;
}

.child-flex4 {
    border: 1px solid green;
    width: 120px;
    height: 60px;
    margin: 30px;

}
