.blue-sqear {
    width: 200px;
    height: 200px;
    background-color: #7e89eb;
 
}

.green-sqear {
    width: 300px;
    height: 200px;
    background-color: #4dee99;
    text-align: center;
    color: white;
    font-size: 30px;
}

.blue-window {
    border: 5px solid blue;
    width: 300px;
    height: 200px;
    margin-top: 10px;
}

.red-window {
    border-style: dotted;
    border-color: red;
    border-width: 5px;
        width: 300px;
        height: 200px;
        margin-top: 10px;

}

.yellow-window {
    border: 2px dashed orange;
    width: 300px;
    height: 200px;
    margin-top: 10px;

}

.double-blue-window {
    border: 10px double blue;
    width: 300px;
    height: 200px;
    margin-top: 10px;

}

.multi {
    border-left: 2px solid orange;
    border-top: 2px solid blue;
    border-right: 2px solid green;
    border-bottom: 2px solid red;
    width: 300px;
        height: 200px;
        margin-top: 10px;

}
.multi-blue {
    border-bottom: 1px solid  blue;
    border-top: 1px solid  blue;
    border-left: 3px solid red;
    border-right: 3px dotted green;

    width: 300px;
    height: 200px;
    margin-top: 10px;

}
 .oval {
   width: 200px;
   height: 200px;
   border: 1px solid green;
   border-radius: 30px;
   margin-top: 10px;

 }

 .oval-full {
    width: 200px;
        height: 200px;
        border: 1px;
        border-radius: 30px;
        margin-top: 10px;
        background-color: #4dee99;

 }
.circle {
    width: 200px;
        height: 200px;
        border: 1px solid green;
        border-radius: 100px;
        margin-top: 10px;

}
.differ {
    width: 200px;
        height: 200px;
        border: 1px solid green;
        border-radius: 10px 30px 40px 50px;
        margin-top: 10px;

}
.corners {
    width: 200px;
        height: 200px;
        border: 1px solid green;
        border-radius: 10px 30px;
        margin-top: 10px;

}
.corners-dif {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px 20px;
    margin-top: 10px;

} 
.circle-small {
    width: 100px;
    height: 100px;
    border: 1px solid green;
    border-radius: 50%;
    margin-top: 10px;

}
body {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: 300px 20px;
}


