/* you assign display flex to parent element 
flex-direction: row - default value */
h2 {
  text-align: center;
}

.row {
  display: flex;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
}
.child {
  width: 120px;
  height: 60px;
  border: 1px solid green;
}

.child-without-height {
  width: 120px;
  border: 1px solid green;
}
.child-without-width {
  height: 40px;
  border: 1px solid green;
}
.column {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}
.column-reverse {
  display: flex;
  flex-direction: column-reverse;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}

/* justify-content - Aligning flex items along the Principal Axis */
.row-flex-end {
  display: flex;
  justify-content: flex-end;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}
.column-flex-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}
.row-reverse-flex-start {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}
.row-reverse-flex-end {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}

.column-reverse-flex-end {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}

/* align-items - Aligning flex boxes along the cross axis */

.column-reverse-flex-end2 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}

.row-reverse-flex-start2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}

.column-reverse-flex-start2 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}

.row-flex-end2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}

.row-center-upp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}

.row-center-down {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}

.row-center-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}

.row-reverse-center-middle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}

.row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}

.row-without-height {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items:stretch; */
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}

.column-without-height {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items:stretch; */
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}

.column-without-height-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items:stretch; */
  width: 800px;
  height: 400px;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
}
