/* * {
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: Arial;
}
.wrapper {
  margin-bottom: 40px;
}
.center {
  width: 840px;
  margin: 0 auto;
  text-align: justify;
}
.center h1,
.center h2,
.center h3,
.center h5 {
  text-align: center;
  color: darkslategrey;
}

#header {
  background-color: rgb(116, 173, 153);
  padding-top: 15px;
  padding-bottom: 6px;
}
#header h1 {
  color: white;
  margin-top: 0;
  line-height: 30px;
}
#header h2 {
  color: white;
  font-size: 20px;
  font-weight: normal;
  line-height: 11px;
}

#servises {
  margin: 45px auto;
}
ol {
  list-style-position: inside;
  margin-left: -40px;
}
li {
  margin: 10px auto;
  padding: 0px;
}

#contacts {
  background-color: rgb(240, 202, 189);
  height: 90px;
}
#contacts h2 {
  padding-top: 10px;
}
#contacts h3 {
  font-size: 16px;
}

#company {
  margin: 45px auto;
}
#footer {
  background-color: rgb(116, 173, 153);
  height: 130px;
}

#footer h5 {
  padding-top: 100px;
}
