p { 
    width: 300px;
    color :rgb(105, 96, 49);
    text-align: justify;
    font-size: 30px;
    line-height: 1.5;
    text-indent: 20px;
    text-decoration: none   
   
    
}
h1 {
    color: green;
    text-align: center;
    font-size: 50px;
    font-family: 'Comic Sans MS'
}
h2 {
    color: pink;
    text-align: center;
    width: 300;
    font-style:italic;
    font-size: 40px;
    font-weight: normal;

}
    
h3 {
    color: #7E07A9;
    width: 300px;
    font: bold italic 40px/50px Arial;
   
}

table {
    width: 500px;
    height: 300px;
}
th {
    text-align: left;
    font-weight: normal;
}

td {
    text-align: center;
    font-weight: bold;
    width: 400px;
    height: 300px;

}
a {
    text-decoration: none;
    color: rgb(142, 29, 29)
}



p i {
    color: green
}

p b i {
    color: red
}



li > b {
    color: red
}

.eee {
    font-size: 20px;
   
}

.xxx {
    font-size: 30px;
  
}

.eee, .xxx {
    line-height: 1.5;
        font-family: Arial;

}


.kkk {
    color: #7E07A9;
}

.first p {    
    color: red;
}
.second p{
    color: green;
}
.third p {
    color: blue;
}

.red {
    color: red;
}
.green p, .green h2{ 
    color: green;
}
.red p, .red h2 {
    color: red
}