li::after {
  content: ". ";
}

#increment {
  counter-reset: test;
}
h3::before {
  counter-increment: test;
  content: "№" counter(test);
}

a:hover::after {
  content: attr(href);
  color: red;
}

.calc {
  width: calc(100% - 100px);
  height: 300px;
  border: 1px solid violet;
  margin: 0 auto;
}
.parent {
  width: 100%;
  height: 300px;
  border: 1px solid black;
}

.max {
  width: max(300px, 50%);
  border: 1px solid rebeccapurple;
  height: 300px;
  margin: 0 auto;
}
.parent2 {
  width: 100%;
  border: 1px solid black;
}
