#letter-space {
  letter-spacing: 3px;
}

#word-space {
  word-spacing: 3px;
}

#text-transform {
  text-transform: uppercase;
}
span {
  text-transform: uppercase;
}
#capitalize {
  text-transform: capitalize;
}
#align {
  text-align-last: right;
}
#red-letter {
  width: 1200px;
  margin: 0 auto;
  text-align: justify;
}
#red-letter p::first-letter {
  color: red;
  font-size: 25px;
}
#red-line p::first-line {
  color: red;
}
#tab-size {
  white-space: pre;
  tab-size: 10;
}

#box {
  width: 200px;
  height: 200px;
  border: 1px solid palevioletred;
  overflow: auto;
}
